<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/164e588562.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" [href]="sanitizer.bypassSecurityTrustResourceUrl(cssUrl)">
</head>
<body >
  <header>
    <div class="cabecera">
    <img class="marioWalking" src="../assets/img/mario-walking.gif" alt="mario-walking">
    <h1>GameName</h1>
    <img src="../assets/img/zombie.gif" alt="pacman-Eating">
    <button class="btn" (click)="changeTheme()">
      <span class="text"> ☾ / ✹ </span>
    </button>
    </div>
    <nav>
      <ul>
        <li><a [routerLink]="['form']" >Form</a></li>
        <li><a [routerLink]="['mostrar']">Show</a></li>
        <li><a [routerLink]="['']">Info</a></li>
      </ul>
    </nav>
  </header>

  <article class="container">
  <router-outlet></router-outlet>
  </article>

  <footer>
    <div class="footer-text">
      © 2023 A.J Sánchez
    </div>
    <div class="footer-media">
      <a class="footer-github" href="https://github.com/AJSanchez8" target="_blank">
        <img src="../assets/img/githubGIF.gif" alt="GitHub" />
      </a>
      <a   href="https://www.linkedin.com/in/antonio-jose-sanchez-gonzalez/" target="_blank">
        <img class="linkedin" src="../assets/img/linkedin.gif" alt="LinkedIn" />
      </a>
<a  href="../assets/archivos/cv.pdf" download="cv.pdf" class="anchor">  <button class="Btn" >
        
        <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
        <span class="icon2"></span>
        <span class="tooltip">Currículum</span>
     </button></a>
    </div>
  </footer>
</body>
</html>

