<form class="form"  action="../../../../../backend/save.php" method="post">
   <div class="title">Puntua tus videojuegos,<br><span>(y calcula el precio por hora jugada)</span></div>
   <input class="input" placeholder="Tu nombre o apodo" type="name" name="nombreUsuario">
   <input class="input" placeholder="Nombre del juego" type="name" name="nombreJuego">
   <select class="input" name="generoJuego" place>
      <option value="" disabled selected>Selecciona un género</option>
      <option value="1">Acción</option>
      <option value="2">Aventura</option>
      <option value="3">Estrategia</option>
      <option value="4">Rol (RPG)</option>
      <option value="5">Disparos (Shooter)</option>
      <option value="6">Deportes</option>
      <option value="7">Carreras</option>
      <option value="8">Puzzle</option>
      <option value="9">Mundo Abierto</option>
      <option value="10">Simulación</option>
      <option value="11">Indi</option>
      <option value="12">Multijugador</option>
    </select> <!--//poner genero automatico segun el juego en sql-->
   <input class="input" placeholder="Lugar de compra/Web de compra" type="name" name="lugarCompra">
   <input class="input" placeholder="{{ minutosPlaceholder }}" type="number" min="0" [(ngModel)]="minutosJugados" name="minutosJugados">
   <input class="input" placeholder="{{ precioPlaceholder }}" type="number" min="0" [(ngModel)]="precioCompra" name="precioCompra">
   
   <button  id="calculoPrecioHora" (click)="calcularPrecioHora()">
      <span class="span-mother">
          <span>C</span>
          <span>Á</span>
          <span>L</span>
          <span>C</span>
          <span>U</span>
          <span>L</span>
          <span>O</span>
      </span>
      <span class="span-mother2">
         <span>C</span>
         <span>Á</span>
         <span>L</span>
         <span>C</span>
         <span>U</span>
         <span>L</span>
         <span>O</span>
      </span>
  </button>
  <span *ngIf="mostrarResultado" class="mostrarResultado">Euros gastados por hora jugada: {{ precioPorHora }}€/h</span>
  <div class="rating" name="rating">
   <input type="radio" id="star5" name="rate" value="5">
   <label for="star5" title="text"></label>
   <input type="radio" id="star4" name="rate" value="4">
   <label for="star4" title="text"></label>
   <input checked="" type="radio" id="star3" name="rate" value="3">
   <label for="star3" title="text"></label>
   <input type="radio" id="star2" name="rate" value="2">
   <label for="star2" title="text"></label>
   <input type="radio" id="star1" name="rate" value="1">
   <label for="star1" title="text"></label>
 </div>
   <button class="button-confirm" type="submit">¡Enviar voto!</button>
 </form>
